@font-face {
    font-family: 'Helvetica Neue Ultra Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Ultra Light'), url('../assets/fonts/NimbusSansUltraLight.ttf') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Thin'), url('../assets/fonts/PragmaticaExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Medium'), url('../assets/fonts/FreeSans.ttf') format('woff');
}