.input-container {
    width: 400px;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 40px;
}



.signup {
    background-image: url('../../assets/images/signup.png');
    background-size: cover;
}