.button {
    border: none;
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 13px;
    line-height: 20px;
    border-radius: 4px;
    background-color: #E50914;
    color: #FFFFFF;
    font-family: 'Helvetica Neue Medium';
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.fullWidth {
    width: 100%;
}

